extends ../header/generic

block content
  h1= title

  h2 Create a new event
  form(action='/api/event', method='post')
    | title
    input(type='text', name='title')
    br
    | description
    input(type='text', name='description')
    br
    | publish?
    input(type='checkbox' name='publish' checked)
    br
    | start date
    input(type='date' name='start')
    br
    | optional end date
    input(type='date' name='end')
    br
    input(type='submit', value='Create')

  h2 Existing events

  ul
  each event in events
    - console.log('pug ' + JSON.stringify(event))
    li
      a(href='/api/event/' + event.id)= event.title
      button(class='deleteButton')
        | Delete


