body {
  padding: 50px;
  background-color: black;
  color: #CCCCCC;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  font-size: 20px;
}

a {
  color: #8888FF;
  text-decoration: none
}

h1 {
  font-weight: 300;
  font-size: 44px;
}

h2 {
  font-weight: 180;
  font-size: 24px;
}

