extends header

block api
  ul
    li POST to /event/ or /event/create to create an event
    li Read events by ID via GET from /event/:ID
    li Destroy events via POST to /event/:ID/destroy
    li GET all event types from /event/type
    li GET one event type from /event/type/:ID
