extends generic

block css
  link(rel='stylesheet', href='/css/docs.css')


block content
  h1 API for #{title}

  h2 The following functionality is currently supported:
  ul
    block api_list_elements
